{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    	
	<div class="happy panel panel-default">
	    <div class="panel-heading">
	        <h3 class="panel-title">{{ happy.name }}</h2>
	        <a class="panel-username" href="/user/{{happy.user.username}}/">
	        	by {{ happy.user.username }}
	        </a>
	    </div>
	    <div class="panel-body">
	        <div class="happy-photo-detail">
	            <img src="{{ happy.image.url }}" alt="" height="100" width="100" />
	        </div>
	        <table class="happy-table">
		    	<tr>
		    		<th>
		    			power:
		    		</th>
		    		<td>{{ happy.power }} </td>
		    	</tr>
	    	</table>
	    
			<button id="likes" data-id="{{happy.id}}"
					class="btn btn-mini btn-danger glyphicon glyphicon-heart" type="button">
				{% if happy.likes > 0 %}
					{{ happy.likes }}
				{% endif %}
	        </button>
	    </div>
	</div>
	
{% endblock %}
